
@font-face {
  font-family: IndieFlower;
  src: url(IndieFlower-Regular.ttf);
}

.Todo{
    display: flex;
    margin-bottom: 5px;
    padding: 5px 10px;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background: rgba(255, 255, 255, 0.1);
  }

  .Todo .Todo-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
  }


.Todo .Todo-item .Todo-item-content .Todo-task {
  cursor: pointer;
  word-break: break-all;
  text-align: left;
  border-radius: 10px;
  padding: 2px 8px 4px 8px;
  transition: 0.4s;
  font-family: 'IndieFlower', sans-serif;
  font-size: 24px;
}

.Todo .Todo-item .Todo-item-content .Todo-task:hover {
  background: rgba(255, 255, 255, 0.3);
  transition: 0.65s;
}

.Todo .Todo-item-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.Todo-task {
  position: relative;
  width: fit-content;
  transition: opacity 0.4s linear;
}

.Todo-task.completed {
  opacity: 0.6;
  font-style: italic;
}
.Todo-task.completed::before {
  content: '';
  position: absolute;
  top: 50%;
  left: -0.5rem;
  display: block;
  width: 0%;
  height: 3px;
  background: #ffffff;
  animation: strikeitem 0.3s ease-out 0s forwards;
}

.Todo-buttons {
  flex-shrink: 0;
  padding-left: 0.7em;
  margin-left: auto;
}

.Todo-buttons button {
  border: none;
  font-size: 1em;
  margin: 0.4em;
  background: none;
  -webkit-appearance: none;
  cursor: pointer;
  color: #fff;
}

.Todo-buttons button .fa-trash,
.Todo-buttons button .fa-pen {
  transition: all 0.25s;
}

.Todo-buttons button .fa-trash:hover {
  color: rgb(255, 0, 55);
  transition: all 0.25s;
}

.Todo-buttons button .fa-pen:hover {
  color: rgb(23, 75, 248);
  transition: all 0.25s;
}

.Todo-edit-form {
  display: flex;
  flex-wrap: wrap;
}
.Todo-edit-form label {
  min-width: 100%;
  margin-bottom: 0.5rem;
  font-size: 1.3rem;
}
.Todo-edit-form input {
  flex-grow: 1;
  border: none;
  background: #f7f1f1;
  padding: 0 1.5em;
  font-size: initial;
}
.Todo-edit-form button {
  padding: 0 1.3rem;
  border: none;
  background: #ff6666;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  border: 1px solid rgba(255, 255, 255, 0.3);
  margin-left: 5px;
  cursor: pointer;
  transition: background 0.2s ease-out;
}
.Todo-edit-form button:hover {
  background: #ff5e5e;
}
.Todo-edit-form input,
.Todo-edit-form button {
  font-family: "Quicksand", sans-serif;
  height: 3rem;
}

.todo-date-box{
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  padding: 0px 8px;
  padding-top: 20px;
}

.Todo-task_label {
  display: flex;
  justify-content: flex-end;
  padding: 0 10px;
}

.edit-form {
  margin-bottom: 5px;
}

@keyframes strikeitem {
  to {
      width: calc(100% + 1rem);
  }
}